# core
streamlit==1.39.0
python-dotenv==1.0.1

# data + embeddings
numpy==1.26.4
pandas==2.2.2
sentence-transformers==2.7.0
scikit-learn==1.5.2
tqdm==4.67.1

# langchain ecosystem
langchain==0.3.3
langchain-core==0.3.63
langchain-community==0.3.2
langchain-text-splitters==0.3.8

# pinecone native v5
pinecone==5.0.0

# LLM + helpers
# openai==1.40.0
python-multipart
openai==2.11.0